
// fonds

$font-main: 'Raleway', sans-serif;
$font-accent: 'Playfair Display', serif;
$font-secondary: 'Roboto', sans-serif;


// Colours

$dark: #242B33;       // Сначала создаем основные цвета фона 
$accent: #D4C17F;     // затем акцентные цвета
$write: #ffffff;       // затеми цвета текста
$footer-bg: #2D343C;   // Цвет футера
$placeholder: #bebebe;
$muted: #e7e7e7;

// Media

$tablet: 959px;